
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 572px) {
    .center-watch {
        height: 80%;
        width: 90%;
        /* margin-top: 20%; */
        position: relative;
        /* margin-right: 20%; */
        right: 44px;
        top: 37px;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    
    .bttnn
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    background-color: red;
    color: white;
    padding-bottom: 8px;
    border:dotted 1px #ad2448;
}
img.center-watch{
        /* height: 80%; */
    /* width: 90%; */
    /* margin-top: 20%; */
    /* position: relative; */
    /* margin-right: 20%; */
    /* right: 100px; */
    top: 0px;
    left: 0.5px;
}

.content
{
    text-align: left;
  }
  #navbarNav
  {
      padding: 2px 0rem;
  }
}
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
/*     
     #navbarNav
    {
        padding: 2px 0rem;
    } */
    div#navbarNav{
        padding: 2px 0rem !important;
    }
    .foo-nav {
        padding: 2px -1rem ;
    } 
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
    
}
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  
  }  */

  .test {
    font-size: 12px;
  }
  .btn-light:hover {
    color: #212529;
    background-color: #dc225e;
    border-color: #dc225e;
}
  .people
  {
      width:100%;
    padding: 20px;
    margin-top: -30px;
    height: 100%;
  }
  .item:hover
  {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }
  .nav-link
  {
      color: whitesmoke;
      font-weight: 200;
      justify-content: space-around;
  }
.deal-probucket
{
    color: #ffffff;
    margin-top: 30%;
    margin-left: 10%;
    letter-spacing: 1px;
    text-transform: capitalize;

}
.deal-probucket h1
{
    font-size: 60px;
}
.center-watch
{
    height: 80%;
    width: 90%;
    /* margin-top: 20%; */
    position: relative;
    /* margin-right: 20%; */
    right: 100px;
    top:90px;
}

h1
{
    font-size: 50px;
}
.product-features
{
    margin-top: 5%;
}
.product-features h1{
    color:black;
}
.product-features p
{
    color:gray;
}
.product-watch
{
    margin-top: 5%;
    margin-left: 40%;
    height: 80%;
    width: 50%;
    object-fit: contain;
    position: relative;
    left: 40px;
    top: 20px;
}
.products-watch
{
margin-top: 5%;
    margin-left: 20%;
    height: 80%;
    width: 50%;
    object-fit: contain;
    position: relative;
    left: 40px;
    top: 20px;      
}
/* .product-watch
{
    height: 50%;
    width: 100%;
    object-fit: contain;
    position:relative;

} */
.box1
{
    /* margin-top: 25%; */
    border:1px solid black;
    height: 200px;
    max-width: 180px;
    margin: 0 auto;
}
.box2
 {
    /*margin-top: 35%; */
    border:1px solid black;
    background-color: #ad2448;
      height: 200px;
    max-width: 180px;
    margin: 0 auto;
}
.box3
{
    /* margin-top: 10%; */
    border:1px solid black;
    height: 200px;
    max-width: 180px;
    margin: 0 auto;
}
.box4
{
    /* margin-top: 15%; */
    border:1px solid black;
    height: 200px;
    max-width: 180px;
    margin: 0 auto;
}

.product-image p
{
    font-size: 10px;
}
.icon
{
    height: 100px;
    width: 100px;
    margin-left: 8%;
    margin-top: 10px;
}
.content
{
    margin-top: 2%;
    margin-left: 5%;
}
.stack
{
    margin-top: 10%;
}
/* .item
{
 background-color: red;

} */
.design 
{
    margin-top: 15%;
    margin-left: 20%;
    font-size: 25px;
}
pre {
    display: block;
    font-size: 20px;;
    color: #212529;
    font-family: sans-serif;
}
.features
{
    margin-top:2%;
}
.questions-asked 
{
    margin-top: 10%;
}
/* .card
{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
    
} */
 .card-header:hover
 {
     background-color: #ad2448;
     border:1px solid black;

 
    }
    .our-client
    {
        margin-top: 10%;
    }
    input[type=text] {
        border: none;
        border-bottom: 2px solid #212529;
        border-bottom: 100%;
    }
    .bttn
    {
        margin-left: 15%;
        background-color: #dc225e;
        width: 60%;
        border-radius: 4px;
    }
    .contact
    {
        margin-top:20%;
        margin-left:10%;
    }
    .address
    {
        margin-left: 3px;
        color: #212529;
    }
    .foo-nav
    {
        padding-left: 50%;
        margin-bottom: 5%;
    }
    /* .abc{
        justify-content: space-between;
    } */